@import '../../styles/variables.scss';

.filters {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media (max-width: 420px) {
        padding: 10px 0;
        gap: 15px;
    }
}